*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p{
    color: #0F2336;
}

h1, h2, h3, h4, h5, h6{
    color: #0F2336;
}

nav{
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav__inner{
    width: 1240px;
    height: 50px;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}

nav .nav__inner_list{
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav nav.nav__inner_list p{
    font-size: 16px;
    font-weight: bold;
    color: #0F2336;
    cursor: pointer;
}

nav .nav__inner_list button{
    width: 122px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #0F2336;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.8s;
}

nav .nav__inner_list button:hover{
    color: #0F2336;
    background-color: #fff;
    border: 2px solid #0F2336;
}

#burger-menu{
    width: 30px;
    height: 30px;
    transform: scaleY(-1);
    display: none;
    cursor: pointer;
}

#close-menu{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 750px){
    nav .nav__inner_list{
        display: none;
    }
    nav .nav__inner{
        width: 100%;
    }
    #burger-menu{
        display: block;
    }
    nav .nav__inner img{
        height: 30px;
    }
}

.nav__menu{
    padding: 15px;
    position: fixed;
    display: flex;
    height: 120px;
    transform: translateX(100%);
    justify-content: space-between;
    flex-direction: column;
    top: 70px;
    right: 0;
    text-align: right;
    border: 3px solid #0F2336;
    transition: all 0.3s;
}

.nav__menu--active{
    position: absolute;
    transform: translateX(0%);
    right: 20px;
}

.nav__menu a{
    font-weight: 600;
    cursor: pointer;
    display: block;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .container{
        width: 900px !important;
    }
}
@media screen and (max-width: 992px) {
    .container{
        width: 90% !important;
    }
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    display: flex;
    height: auto;
    margin: 70px auto;
    position: relative;
}

.hero--active{
    margin: 90px auto 30px !important;
}

.hero .hero__left button{
    background-color: #00CCCC;
    color: #0F2336;
    font-size: 18px;
    font-weight: 600;
    width: 208px;
    height: 60px;
    border-radius: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 3px 18px rgba(0, 201, 201, 0.55);
}

.hero .hero__left h1{
    font-size: 55px;
    line-height: 80px;
    margin-bottom: 50px;
}
.hero .hero__left{
    width: 40%;
}
.hero .hero__right #trees{
    height: 640px;
    margin-top: -103px;
}
.hero__right{
    width: 85%;
    position: relative;
}
.hero__right #hero_image{
    position: absolute;
    height: 537px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

@media screen and (max-width:1200px){
    .hero .hero__left h1{
        font-size: 38px;
        min-width: 400px;
        line-height:60px;
    }
    .hero .hero__left{
        width: auto;
    }
    .hero .hero__right{
        width: auto;
        margin-top: 50px;
    }
    .hero{
        flex-direction: column;
        align-items: center;
        height: auto;

    }
    .hero .hero__right #trees{
        width: 500px;
        height: auto;
    }
    .hero .hero__right #hero__image{
        width: 335px;
        height: auto;
    }
    .hero .hero__left button{
        font-size: 16px;
        width: 170px;
    }
}

@media screen and (max-width:576px) {
    .hero .hero__right #trees{
        width: 320px;
        height: auto;
    }
    .hero .hero__right #hero__image{
        width: 180px;
        height: auto;
    }
    .hero{
        margin: 30px auto;
        transition:all 0.3s;
    }
}